

body{
  	background: #1f1f47
}
ul{
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 90px;
}
li{
	position: relative;
	list-style: none;
}
li a{
	font-size: 1em;
	text-decoration: none;
	letter-spacing: 2px;
	line-height: 1em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
a::before{
	content: attr(data-text);
	position: absolute;
	color: var(--clr);
	width: 0;
	overflow: hidden;
	transition: 1.2s;
	border-right: 8px solid var(--clr);
	-webkit-text-stroke: 1px var(--clr);
}
a:hover::before{
	width: 100%;
	filter: drop-shadow(0 0 25px var(--clr))
}
.container{
  	min-height: 100vh;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}
.card{
  	width: 400px;
  	min-height: 250px;
  	background: rgba( 255, 255, 255, 0.15 );
  	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  	backdrop-filter: blur( 18px );
  	border: 1px solid rgba( 255, 255, 255, 0.18 );
  	border-radius: 1rem;
  	padding: 1.5rem;
  	z-index: 10;
  	color: whitesmoke;
}
.title{
  	font-size: 2.2rem;
  	margin-bottom: 1rem;
}
.subtitle{
  	font-size: 1rem;
  	margin-bottom: 2rem;
}
.btn{
  	background: none;
  	border: none;
  	text-align: center;
  	font-size: 1rem;
  	color: whitesmoke;
  	background-color: #fa709a;
  	padding: 0.8rem 1.8rem;
  	border-radius: 2rem;
  	cursor: pointer;
}
.blob{
  	position: absolute;
  	width: 500px;
  	height: 500px;
  	background: linear-gradient(180deg, rgba(47, 184, 255,0.42) 31.77%, #5c9df1 100%);
 	mix-blend-mode: color-dodge;
    animation: move 25s infinite alternate;
  	transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}
.blob:hover{
  	width: 520px;
  	height: 520px;
    filter: blur(30px);
  	box-shadow: inset 0 0 0 5px rgba(255,255,255, 0.6),
    	inset 100px 100px 0 0px #fa709a,
    	inset 200px 200px 0 0px #784ba8,
    	inset 300px 300px 0 0px #2b86c5;
}
@-webkit-keyframes move{
  	from{
    	transform: translate(-100px, -50px) rotate(-90deg);
    	border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  	}
  	to{
    	transform: translate(500px, 100px) rotate(-10deg);
    	border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  	}
}
@keyframes move{
  	from{
    	transform: translate(-100px, -50px) rotate(-90deg);
    	border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  	}
  	to{
    	transform: translate(500px, 100px) rotate(-10deg);
    	border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  	}
}
